.header-and-tags{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    padding-bottom: 27px;

}
.left-section{
    width: 170px;
    display: flex;
    align-items: center;
}
.menu-logo{
    height: 20px;
    margin-left: 25px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    margin-left: 25px;
}

.middle-section{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 75px;
    max-width: 680px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 16px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto;
}
.search-button{
    width: 64px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(247, 247, 247);
    margin-left: -1px;
    cursor: pointer;
}
.search-icon{
    height: 27px;
    padding-top: 4px;
}
.microfone{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border: none;
    border-radius: 50%;
    background-color:rgb(235, 235, 235);
    cursor: pointer;
}
.microfone-logo{
    height: 24px;
    margin-top: 4px;
}

.right-section{
    width: 170px;
    display: flex;
    justify-content: end;
    flex-shrink: 0;
}
.upload-logo{
    width: 24px;
    margin-right: 25px;
    cursor: pointer;
}
.bell-logo{
    width: 24px;
    margin-right: 25px;
    cursor: pointer;
}
.pp{
    width: 29px;
    height: 29px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 46px;
}
.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 58px;
    left: 0;
    right: 0;
    height: 57px;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 75px;
}
.tags button:not(.all){
    border: none;
    padding: 9px 12px;
    font-weight:600;
    color: rgb(53, 52, 52);
    border-radius: 8px;
}
.all{
    border: none;
    padding: 9px 12px;
    font-weight:600;
    background-color: black;
    color: white;
    border-radius: 8px;
}
